<%= form_with(model: @user, local: true) do |form| %>
	<div id="field">
		<div class="image"  > 
			<%= image_tag(@user.image.url) if @user.image && @user.image.url %>
			<%= form.file_field :image %>
		</div>
	<div class = "name" >
		<div class="form-group">
			<%= form.label :name %><br>
			<%= form.text_field :name, class: 'form-control' %>
    </div>
		
		<div class="form-group">
			<%= form.label :email %><br>
			<%= form.email_field :email, class: 'form-control' %>
		</div>
	</div>
		
		<div class="form-group">
			<%= form.label :自己紹介 %><br>
			<%= form.text_area :content, class: 'form-control' %>
		</div>
		
		<div class="form-group">
		<%= form.label :password %>
		<%= form.password_field :password ,class: 'form-control' %>
		<%= form.label :password_confirmation %>
		<%= form.password_field :password_confirmation , class: 'form-control' %>
		</div> 
		
		<div class="actions">
			<%= form.submit "登録する",class: 'btn btn-default' %>
			<%= link_to '戻る', user_path, class: 'btn btn-default' %>
		</div>
	</div>
<% end %>