<%= form_with(model: @post, local: true) do |form| %>
	<div class="field">
		<%= image_tag(@post.image.url, id: "picture" ) if @post.image && @post.image.url %>
		<%= form.file_field :image %>
		<%= form.hidden_field :image_cache %>
		<%= @post.content if @post.content%>
		<%= form.label :コメント %>
		<%= form.text_area :content, class: 'form-control' %>
		<%= form.submit "確認",class: 'btn btn-default'%>
	</div>
<% end %>