<% @posts.each do |post| %>
  <div class="card" style="width: 50rem;">
    <div class="card-header">
      <% if post.user.image.nil? %>
        <%= image_tag "default.jpg" %>
      <% else %>
      <%= image_tag(post.user.image.url, id: "post_image") if post.user.image && post.user.image.url  %>
      <% end %>
    <div id = "index_name"> 
      <%= post.user.name %>
    </div>
    <div class="card-body">
      <%= image_tag post.image.to_s, id: "index_picture" %>
    </div>
    <div class="card-footer" style="height: 1rem;">
    <%= link_to 'Show', post, class: "btn btn-default ", id: "show" %>
        <br>
      <div id = "comment">
        <%= "コメント" %>
      </div>     
      <div id = "content">
        <%= simple_format(post.content) %>
      </div>
    </div>
  </div>
<% end %>

  
  
  
  
  
