<%= link_to "新規投稿", new_post_path(current_user.id), class: 'btn btn-default', id:"new_post" %>
<% @posts.each do |post| %>
  <div class="card" style="width: 50rem;">
    <div class="card-header">
      <%= image_tag(post.user.image.url,id: "post_image") %>
    <div id = "index_name"> 
      <%= post.user.name %>
    </div>
    <div class="card-body">
      <%= image_tag post.image.to_s, id: "index_picture" %>
    </div>
    <div class="card-footer" style="height: 1rem;">
    <%= link_to 'Show', post, class: "btn btn-default ", id: "show" %>
        <br>
      <div id = "comment">
        <%= "コメント" %>
      </div>     
      <div id = "content">
        <%= simple_format(post.content) %>
      </div>
    </div>
  </div>
<% end %>
  
  
  
  
  
