<div class="card_show" style="width: 50rem;">
  <div class="card-header">
    <%= image_tag(@post.user.image.url,id: "post_image") %>
      <div id = "index_name"> 
        <%= @post.user.name %>
      </div>
      <div class="card-body">
        <%= image_tag @post.image.to_s, id: "index_picture" %>
      </div>
      <div class="card-footer">
        <% if @post.user_id == current_user.id %>  
          <div class = "edit">
            <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-default" %>
            <%= link_to 'Destroy',@post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
        <% end %>
            <%= link_to 'Back', posts_path , class: "btn btn-default" %>
      </div>
        
      <% unless @post.user_id == current_user.id %>
        <% if @favorite.present? %>
          <%= link_to 'お気に入り解除', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-default' %>
        <% else %>
          <%= link_to 'お気に入り', favorites_path(post_id: @post.id), method: :post, class: 'btn btn-primary' %>
        <% end %>
      <% end %>
        <br>
      <div id = "comment">
        <%= "コメント" %>
      </div>     
      <div id = "content">
        <%= simple_format(@post.content) %>
      </div>
  </div>
</div>
